<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <servlet>
        <servlet-name>LoginServlet</servlet-name>
        <servlet-class>controller.LoginServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SignupServlet</servlet-name>
        <servlet-class>controller.SignupServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>home</servlet-name>
        <servlet-class>controller.home</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>shop</servlet-name>
        <servlet-class>controller.shop</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>category</servlet-name>
        <servlet-class>controller.category</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>detail</servlet-name>
        <servlet-class>controller.detail</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>gallerycontroller</servlet-name>
        <servlet-class>controller.gallerycontroller</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>search</servlet-name>
        <servlet-class>controller.search</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>manageProduct</servlet-name>
        <servlet-class>controller.manageProduct</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>addProduct</servlet-name>
        <servlet-class>controller.addProduct</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>updateproduct</servlet-name>
        <servlet-class>controller.updateproduct</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>deleteproduct</servlet-name>
        <servlet-class>controller.deleteproduct</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>addgallery</servlet-name>
        <servlet-class>controller.addgallery</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>addInfo</servlet-name>
        <servlet-class>controller.addInfo</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>orderDetail</servlet-name>
        <servlet-class>controller.orderDetail</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>logout</servlet-name>
        <servlet-class>controller.logout</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>profile</servlet-name>
        <servlet-class>controller.profile</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Order</servlet-name>
        <servlet-class>controller.Order</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>manageAccount</servlet-name>
        <servlet-class>controller.manageAccount</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>setadmin</servlet-name>
        <servlet-class>controller.setadmin</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Cart</servlet-name>
        <servlet-class>controller.Cart</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Buy</servlet-name>
        <servlet-class>controller.Buy</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>deleteaccount</servlet-name>
        <servlet-class>controller.deleteaccount</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>addAcc</servlet-name>
        <servlet-class>controller.addAcc</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>LoginServlet</servlet-name>
        <url-pattern>/LoginServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SignupServlet</servlet-name>
        <url-pattern>/SignupServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>home</servlet-name>
        <url-pattern>/home</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>shop</servlet-name>
        <url-pattern>/shop</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>category</servlet-name>
        <url-pattern>/category</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>detail</servlet-name>
        <url-pattern>/detail</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>gallerycontroller</servlet-name>
        <url-pattern>/gallerycontroller</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>search</servlet-name>
        <url-pattern>/search</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>manageProduct</servlet-name>
        <url-pattern>/manageProduct</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>addProduct</servlet-name>
        <url-pattern>/addProduct</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>updateproduct</servlet-name>
        <url-pattern>/updateproduct</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>deleteproduct</servlet-name>
        <url-pattern>/deleteproduct</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>addgallery</servlet-name>
        <url-pattern>/addgallery</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>addInfo</servlet-name>
        <url-pattern>/addInfo</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>orderDetail</servlet-name>
        <url-pattern>/orderDetail</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>logout</servlet-name>
        <url-pattern>/logout</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>profile</servlet-name>
        <url-pattern>/profile</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Order</servlet-name>
        <url-pattern>/Order</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>manageAccount</servlet-name>
        <url-pattern>/manageAccount</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>setadmin</servlet-name>
        <url-pattern>/setadmin</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Cart</servlet-name>
        <url-pattern>/Cart</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Buy</servlet-name>
        <url-pattern>/Buy</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>deleteaccount</servlet-name>
        <url-pattern>/deleteaccount</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>addAcc</servlet-name>
        <url-pattern>/addAcc</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
</web-app>
